
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href = "{{ url_for('static' , filename = 'index.css')}}">
  <script src = "{{url_for('static' , filename= 'index.js')}}"></script>  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>Dashboard</title>
</head>
<body>
    <div class = "flex-left">
        <h1>Dashboard</h1>
    </div>
</body>
</html>